@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/*****GOOGLE--FONTS--UBUNTU*****/
body{
    font-family: 'Ubuntu', sans-serif;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

input,textarea,button{
  outline: none;
}

/***FOR ALL IMAGES**/
img{
  max-width: 100%;
}
/**=====HEADINGS STARTS=====**/


/****HEAD LOGO*****/
.logo-head{
  width: 180px;
  margin-left: 150px;
  margin-top: -50px;
}

.topnav {
  position: fixed;
  width: 100%;
  overflow: hidden;
 background-color: black;
  height: 10vh;
}

.topnav a {
  float: right;
  font-weight: bold;
  display: block;
  color: #f2f2f2;
  text-align: center;
  margin: 25px 15px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  -webkit-transition: border-bottom 0.2s;
}

.topnav a:hover {
  border-bottom: 2px solid red;
}

.topnav a.active {
  background-color: #ff3c00;
  color: rgb(252, 252, 252);
  border-radius: 50px;
}

.topnav .icon {
  display: none;
}


div.gallery-image-content{
  display: flex;
  flex-wrap: wrap;
  color: rgb(253, 253, 253);
  text-align: center;
  padding-top: 90px;
  
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.row,
.column{
  margin-top: 5px;
}


.column img:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/**
.container {
  position: relative;
  width: 50%;
}
div.section-items{
  border: 2px solid rgb(255, 6, 6);
}

.image {
  display: block;
  width: 40%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  margin-top: 100px;
  }

.container:hover .overlay {
  opacity: 1;
}

.text ,
.text2{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}**/
/**FOOTER--WITH--BG--COLOR***/
div.footer-bg{
    background-image: url("");
    background-color: #000000;
    background-size: 100% 100%;
    color:rgb(255, 254, 254);
    padding: 15px;
  }
  
  i.fa-phone{
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color:rgba(255, 17, 0, 0.849)
  }
  h5{
    font-family: lobster;
    font-weight: lighter;
    text-align: center;
    font-size: 3rem;
  }
  aside.phone-num{
    text-align: center;
    font-weight: bolder;
  
  }
  aside.copyright{
    text-align: center;
  }
  