
 
@media only screen  and (max-width:1024px) and (min-width: 768px){ 
  div.banner{
    height: 60vh;
    padding-top: 20px;
  }  
  div.welcome-part{
    height: auto;
    background-image: visible;
  }
  #myVideo {
    height: auto;
  }

  h1{
       padding-top: 0px;
       font-size: 3.5rem;
        background-color: none;
        color: rgb(255, 255, 255);
     }

     .logo-head{
       margin-left: 30px;
     }

 /**====WELCOME==PART==STARTS==WITH=PICS***/
 div.welcome-part{
  height: auto;
  background-image: visible;
}


section.welcome-wrap-left{
  height: auto;
  max-width: auto;
}
img.wrap-img-mid{
  height: 50vh;
  max-width: 280px;
}
section.welcome-wrap-right{
  height: 50vh;
  max-width: 270px;
  margin-left: 0px;
}
span.social-media-icons a i{
margin: 15px 25px;
  
}
}
@media screen and (max-width: 1440px) and (min-width: 900px){
  div.banner{
    height: 100vh;
    padding-top: 60px;
  }  
  #myVideo {
    height: auto;
  }
  /* .topnav {
    height: 11vh;
  } */
  h1{
       padding-top: 50px;
       font-size:5rem;
        background-color: none;
        color: rgb(255, 234, 234);
     }

     .logo-head{
       margin-left: 30px;
     }

 /**====WELCOME==PART==STARTS==WITH=PICS***/
 div.welcome-part{
  height: auto;
  background-image: none;
}
section.welcome-wrap-left{
    margin-left: 20px;
    height: auto;
    max-width: 300px;
}

img.wrap-img-mid{
  height: auto;
  max-width: 350px;
}
section.welcome-wrap-right{
  height: auto;
  max-width: 650px;
}

button.btn-about-us{
  width:auto;
}
}



