.logo-head{
    width: 150px;
    margin-left: 0px;
    margin-top: -20px;
  }
  .topnav .icon {
    color:orangered;
    font-size:2rem;
  }
  h1{
      font-family: lobster;
      text-align: center;
  }
  .row,
.column{
  margin-top: 0px;
}
  
@media screen and (max-width: 812px){
 
    .topnav {
      position: static;
      overflow: visible;
      /* height: auto; */
      /* background-color: white; */
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 812px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
       color:black;
     
    }
    h5{
      font-size: 1.5rem;
    }
    aside.copyright{
    font-size: 0.75rem;
    }
  }